<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibil.mapper.VideoMapper">


    <insert id="addVideo" parameterType="com.bilibil.entity.Video" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_video(
            id,
            userId,
            url,
            thumbnail,
            title,
            `type`,
            duration,
            area,
            description,
            createTime
        )values(
                   #{id},
                   #{userId},
                   #{url},
                   #{thumbnail},
                   #{title},
                   #{type},
                   #{duration},
                   #{area},
                   #{description},
                   #{createTime}
               )
    </insert>
    <!-- 批量添加视频标签-->
    <insert id="batchAddVideoTags" parameterType="java.util.List" >
        insert into
        t_video_tag(
        videoId,
        tagId,
        createTime
        )values
#                 批量插入   separator 分隔符
        <foreach collection="videoTagList" item="videoTag" separator=",">
            (
            #{videoTag.videoId},
            #{videoTag.tagId},
            #{videoTag.createTime}
            )
        </foreach>
    </insert>
<!--    // 更新视频投币的数量-->
    <update id="updateVideoCoin" parameterType="com.bilibil.entity.VideoCoin">
        update
            t_video_coin
        set
            amount = #{amount},
            updateTime = #{updateTime}
        where
            videoId = #{videoId}
          and userId = #{userId}
    </update>
    <!--    // 满足筛选条件一共有多少条-->
    <select id="pageCountVideos" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1)
        from t_video
        where 1=1
        <if test="area != null and area != '' ">
            and area = #{area}
        </if>
    </select>

    <select id="pageListVoides" resultType="com.bilibil.entity.Video" parameterType="java.util.List">
        select *
        from t_video
        where 1=1
        <if test="area != null and area != ''">
            and area = #{area}
        </if>
        order by id desc
        limit #{start},#{limit}
        </select>

    <select id="getVideoById" parameterType="java.lang.Long" resultType="com.bilibil.entity.Video">
        select
            *
        from
            t_video
        where
            id = #{id}
    </select>


    <!--获取视频条数-->
    <select id="getVideoLikes" parameterType="java.lang.Long" resultType="java.lang.Long">
        select
            count(1)
        from
            t_video_like
        where
            videoId = #{videoId}
    </select>

    <delete id="deleteVideoLike">
        delete from
            t_video_like
        where
            videoId = #{videoId}
          and userId = #{userId}
    </delete>
<!--    // 删除原有的视频收藏-->
    <delete id="deleteVideoCollection">
        delete from t_video_collection
        where
              videoId = #{videoId}
            and userId = #{userId}
    </delete>

    <select id="getVideoLikeByVideoIdAndUserId" resultType="com.bilibil.entity.VideoLike">
        select
            *
        from
            t_video_like
        where
            videoId = #{videoId}
          and userId = #{userId}
    </select>

    <select id="getVideoCollections" resultType="java.lang.Long" parameterType="java.lang.Long">
        select count(1) from
        t_video_collection
        where videoId = #{videoId}
    </select>

    <select id="getVideoCollectionByVideoIdAndUserId" parameterType="java.lang.Long" resultType="com.bilibil.entity.VideoCollection">
        select
            *
        from
            t_video_collection
        where
            videoId = #{videoId}
          and userId = #{userId}
    </select>
<!--    // 查询当前登录的用户对视频已经投了多少硬币了-->
    <select id="getVideoCoinByVideoIdAndUserId"
            resultType="com.bilibil.entity.VideoCoin" parameterType="java.lang.Long">
            select *
            from t_video_coin
                 where
                    videoId = #{videoId}
                and userId = #{userId}
    </select>
    <select id="getVideoCoinsAmount" resultType="java.lang.Long" parameterType="java.lang.Long">
        select sum(amount)
        from t_video_coin
        where  userId = #{userId}
    </select>

<!--    // 获取当天的观看记录-->
    <select id="getVideoView" resultType="com.bilibil.entity.VideoView"  parameterType="java.util.Map">
        select
        *
        from
        t_video_view
        where
        videoId = #{videoId}
#           防止用户先登录观看，再退出登录观看  clientId 是惟一的
        <if test="userId == null and clientId != null">
            and clientId = #{clientId} and userId is null
        </if>
        <if test="userId != null">
            and userId = #{userId}
        </if>
        <if test="ip != null and ip != '' ">
            and ip = #{ip}
        </if>
        <if test="today != null and today != '' ">
            and DATE_FORMAT(createTime,'%Y-%m-%d') = #{today}
        </if>
    </select>

    <select id="getVideoViewCounts" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select COUNT(1)
        from t_video_view
        where videoId = #{videoId}
    </select>
    <select id="getAllUserPreference" resultType="com.bilibil.entity.UserPreference">
        select
            userId,
            videoId,
            sum(case operationType
                    when '0' then 6
                    when '1' then 2
                    when '2' then 2
                    else 0 end
                ) as `value`
        from
            t_video_operation
        group by userId, videoId
    </select>
<!--    // 拿到给用户推荐视频的id进行批量查询-->
    <select id="batchGetVideosByIds" resultType="com.bilibil.entity.Video" parameterType="java.util.List">
        select
        *
        from
        t_video
        where
        id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <!--    DATE_FORMAT(createTime,'%Y-%m-%d')   格式化日期和时间的函数-->
    <!--    // 查询当前登录的用户对视频已经投了多少硬币了-->


    <insert id="addVideoLike" parameterType="com.bilibil.entity.VideoLike">
        insert into
            t_video_like(
            userId,
            videoId,
            createTime
        )values(
                   #{userId},
                   #{videoId},
                   #{createTime}
               )
    </insert>
<!--    // 添加视频收藏-->
    <insert id="addVideoCollection" parameterType="com.bilibil.entity.VideoCollection">
        insert into
            t_video_collection(
                userId,videoId,groupId,createTime
        )values (
                 #{userId},#{videoId},#{createTime},#{groupId}
                        )
    </insert>
    <insert id="addVideoCoin" parameterType="com.bilibil.entity.VideoCoin">
        insert into t_video_coin(
            userId,videoId,amount,createTime
        )values (
                            #{userId},#{videoId},#{amount},#{createTime}
                        )

    </insert>
    <insert id="addVideoView" parameterType="com.bilibil.entity.VideoView">
        insert into t_video_view(
            videoId,userId,clientId,ip,createTime
        )   values (
                    #{videoId},#{userId},#{clientId},#{ip},#{createTime}
                           )
    </insert>
</mapper>
